<nav class="navbar navbar-expand-md bg-body" [class]="isFixed ? 'flexed' : ''">
    <div class="container-fluid"><a class="navbar-brand" href="#">Discerniy</a><button class="navbar-toggler"
            data-bs-toggle="collapse" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle
                navigation</span><span class="navbar-toggler-icon"></span></button>
        <div id="navcol-1" class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item d-xxl-flex align-items-xxl-center">
                    <div class="theme-switcher nav-item dropdown"><a class="dropdown-toggle active"
                            aria-expanded="false" data-bs-toggle="dropdown" href="#"><svg class="bi bi-sun-fill mb-1"
                                xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                viewBox="0 0 16 16">
                                <path
                                    d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                                </path>
                            </svg></a>
                        <div class="dropdown-menu"><a class="dropdown-item d-flex align-items-center" href="#"
                                data-bs-theme-value="light"><svg class="bi bi-sun-fill opacity-50 me-2"
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path
                                        d="M8 12a4 4 0 1 0 0-8 4 4 0 0 0 0 8M8 0a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 0m0 13a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-1 0v-2A.5.5 0 0 1 8 13m8-5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2a.5.5 0 0 1 .5.5M3 8a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1h2A.5.5 0 0 1 3 8m10.657-5.657a.5.5 0 0 1 0 .707l-1.414 1.415a.5.5 0 1 1-.707-.708l1.414-1.414a.5.5 0 0 1 .707 0m-9.193 9.193a.5.5 0 0 1 0 .707L3.05 13.657a.5.5 0 0 1-.707-.707l1.414-1.414a.5.5 0 0 1 .707 0zm9.193 2.121a.5.5 0 0 1-.707 0l-1.414-1.414a.5.5 0 0 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .707M4.464 4.465a.5.5 0 0 1-.707 0L2.343 3.05a.5.5 0 1 1 .707-.707l1.414 1.414a.5.5 0 0 1 0 .708z">
                                    </path>
                                </svg>{{ 'navigation.theme.light' | translate }}</a><a
                                class="dropdown-item d-flex align-items-center" href="#" data-bs-theme-value="dark"><svg
                                    class="bi bi-moon-stars-fill opacity-50 me-2" xmlns="http://www.w3.org/2000/svg"
                                    width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16">
                                    <path
                                        d="M6 .278a.768.768 0 0 1 .08.858 7.208 7.208 0 0 0-.878 3.46c0 4.021 3.278 7.277 7.318 7.277.527 0 1.04-.055 1.533-.16a.787.787 0 0 1 .81.316.733.733 0 0 1-.031.893A8.349 8.349 0 0 1 8.344 16C3.734 16 0 12.286 0 7.71 0 4.266 2.114 1.312 5.124.06A.752.752 0 0 1 6 .278">
                                    </path>
                                    <path
                                        d="M10.794 3.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387a1.734 1.734 0 0 0-1.097 1.097l-.387 1.162a.217.217 0 0 1-.412 0l-.387-1.162A1.734 1.734 0 0 0 9.31 6.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387a1.734 1.734 0 0 0 1.097-1.097l.387-1.162zM13.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.156 1.156 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.156 1.156 0 0 0-.732-.732l-.774-.258a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732L13.863.1z">
                                    </path>
                                </svg>{{'navigation.theme.dark' | translate}}</a><a class="dropdown-item d-flex align-items-center" href="#"
                                data-bs-theme-value="auto"><svg class="bi bi-circle-half opacity-50 me-2"
                                    xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                                    viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 0 8 1zm0 1A8 8 0 1 1 8 0a8 8 0 0 1 0 16"></path>
                                </svg>{{'navigation.theme.auto' | translate}}</a>
                            </div>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                        href="#">{{currentLanguage.label}}</a>
                    <div class="dropdown-menu language">
                        <a class="dropdown-item" *ngFor="let language of languageList"
                            (click)="changeLanguage(language.code)">{{language.label}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><i
                            class="far fa-user"></i> {{userFullName}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/home/user/settings']">{{'navigation.settings' | translate}}</a>
                        <a class="dropdown-item" href="#" (click)="logout()">{{'navigation.logout' | translate}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated && user.permissions.users.canRead">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                        href="#">{{'navigation.users.title' | translate}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/home/admin/users']">{{'navigation.users.list' | translate}}</a>
                        <a class="dropdown-item" [routerLink]="['/home/admin/users/new']"
                            *ngIf="user.permissions.users.canCreate">{{'navigation.users.add' | translate}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated && user.permissions.robots.canRead">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">{{'navigation.robots.title' | translate}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/home/admin/robots']">{{'navigation.robots.list' | translate}}</a>
                        <a class="dropdown-item" [routerLink]="['/home/admin/robots/new']" *ngIf="user.permissions.robots.canCreate">{{'navigation.robots.add' | translate}}</a>
                    </div>
                </li>
                <li class="nav-item dropdown" *ngIf="isAuthenticated">
                    <a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown"
                        href="#">{{'navigation.groups.title' | translate}}</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" [routerLink]="['/home/group/list/my']">{{'navigation.groups.my' | translate}}</a>
                        <a class="dropdown-item" [routerLink]="['/home/group/list']" *ngIf="user.permissions.groups.canRead">{{'navigation.groups.list' | translate}}</a>
                        <a class="dropdown-item" [routerLink]="['/home/group/new']" *ngIf="user.permissions.groups.canCreate">{{'navigation.groups.add' | translate}}</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>