<div class="container">
    <form>
        <div class="editor">
            <div *ngIf="isEditMode">
                <h3 class="text-center">{{'editUser.actions.title' | translate}}</h3>
                <hr />
                <div>
                    <button class="btn btn-danger" type="button" [disabled]="!currentUser.permissions.robots.canDelete"
                        (click)="deleteRobot()">{{'buttons.delete' |
                        translate}}</button>
                        <button class="btn btn-primary" type="button" [disabled]="!currentUser.permissions.robots.canRead"
                        (click)="onGetToken()">{{'admin.robot.getToken' |
                        translate}}</button>
                </div>
            </div>
            <h3 class="text-center">{{'editUser.basicInfo' | translate}}</h3>
            <hr />
            <div>
                <label class="form-label">{{'models.client.nickname' | translate}}<i class="required"></i></label>
                <input class="form-control" type="text" name="nickname" [(ngModel)]="robotModel.nickname"
                    [disabled]="!currentUser.permissions.robots.canUpdate" />
            </div>
            <div>
                <label class="form-label">{{'models.client.scanRadius' | translate}}<i class="required"></i></label>
                <input class="form-control" type="number" min="0" step="0.5" value="5" name="scanRadius"
                    [(ngModel)]="robotModel.scanRadius"
                    [disabled]="!currentUser.permissions.robots.canUpdateScanRadius" />
                <label class="form-label description">{{'admin.user.scanRadius.description' | translate}}</label>
            </div>
            <div>
                <label class="form-label">{{'models.client.accessLevel' | translate}}<i class="required"></i></label>
                <input class="form-control" type="number" min="0" max="999" step="1" value="1" name="accessLevel"
                    [(ngModel)]="robotModel.accessLevel"
                    [disabled]="!currentUser.permissions.robots.canUpdateAccessLevel" />
                <label class="form-label description">{{'admin.user.accessLevel.description' | translate}}</label>
            </div>
            <div>
                <label class="form-label">{{'models.robot.groupId' | translate}}</label>
                <input class="form-control" type="text" name="groupSearch"
                    [(ngModel)]="groupSearch" (keyup)="searchGroups()" (focus)="searchGroups()"
                    [disabled]="!currentUser.permissions.robots.canUpdate" />
                <select class="form-select" [(ngModel)]="robotModel.groupId" name="groupId" [disabled]="!currentUser.permissions.robots.canUpdate">
                    <option *ngIf="selectedGroup != undefined" [value]="selectedGroup.id" selected>{{selectedGroup.name}}</option>
                    <option *ngFor="let option of groups" (click)="selectGroup(option)" [value]="option.id">{{option.name}}</option>
                </select>
            </div>
            <div>
                <label class="form-label">{{'models.client.status' | translate}}</label>
                <select class="form-select" [(ngModel)]="robotModel.status" name="status"
                    [disabled]="!currentUser.permissions.robots.canUpdateStatus">
                    <option [value]="0" selected>{{'models.clientStatuses.inactive' | translate}}</option>
                    <option [value]="1">{{'models.clientStatuses.active' | translate}}</option>
                    <option [value]="2">{{'models.clientStatuses.limited' | translate}}</option>
                    <option [value]="3">{{'models.clientStatuses.banned' | translate}}</option>
                </select>
            </div>
            <div>
                <label class="form-label">{{'models.client.description' | translate}}</label>
                <textarea class="form-control" rows="5" name="description" [(ngModel)]="robotModel.description"
                    [disabled]="!currentUser.permissions.robots.canUpdate"></textarea>
            </div>
        </div>
    </form>
    <div class="d-flex justify-content-center buttons">
        <button #actionButton class="btn btn-primary" type="button" style="min-width: 128px;"
            (click)="submit()">{{buttonLabel | translate}}</button>
        <button class="btn btn-secondary" type="button" style="min-width: 128px;" (click)="cancel()">{{'buttons.cancel'
            | translate}}</button>
    </div>
</div>