<app-nav-bar></app-nav-bar>
<section class="position-relative py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2>{{'login.title' | translate}}</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <form class="text-center" method="post">
                            <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="{{'login.email' | translate}}" [(ngModel)]="email"></div>
                            <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="{{'login.password' | translate}}" [(ngModel)]="password" (keydown)="onLoginKeyDown($event)"></div>
                            <div class="mb-3"><button class="btn btn-primary d-block w-100" type="button" (click)="onLogin()">{{'buttons.login' | translate}}</button></div>
                            <p class="text-muted">{{'login.forgot' | translate}}</p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>