/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.near-client-icon{
    transition: all 1s;
}

.polygon-point-icon.selected {
    filter: invert(71%) sepia(72%) saturate(669%) hue-rotate(329deg) brightness(105%) contrast(92%);
}

.crosshair-cursor-enabled{
    cursor: crosshair!important;
}